# 1. pd.read_csv()

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Popular_Baby_Names.csv')

In [3]:
df.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [4]:
df = pd.read_csv('Popular_Baby_Names.csv', sep=';', header=0, index_col=0, skiprows=5, na_values='N/A')

# 2. df.describe()

In [5]:
df.describe()

ValueError: Cannot describe a DataFrame without columns

In [ ]:
df.describe(include='all')  # include all columns

In [ ]:
df.describe(exclude='number') # exclude numerical columns

# 3. df.info()

In [ ]:
print(df.info())

# 4. df.plot()

In [ ]:
df['Gender'].value_counts().plot(kind='bar')

In [ ]:
df['Gender'].value_counts().plot(kind='pie')

In [ ]:
df['Count'].plot(kind='box')

# 5. df.iloc()

In [ ]:
# Select the first row
print(df.iloc[0])

In [ ]:
# Select the first two rows
print(df.iloc[:2])

In [ ]:
# Select the first column
print(df.iloc[:, 0])

In [ ]:
# Select the first two columns
print(df.iloc[:, :2])

In [ ]:
# Select the (1, 1) element
print(df.iloc[1, 1])

# 6. df.loc()

In [ ]:
# Select the column name 'Gender'
print(df.loc[:,'Gender'])

In [ ]:
# Select the columns named 'Year of Birth' and 'Gender'
print(df.loc[:, ['Year of Birth', 'Gender']])

# 7. df.assign()

In [ ]:
df_new = df.assign(count_plus_5=df['Count'] + 5)
df_new.head()

# 8. df.query()

In [ ]:
# Select rows where age is greater than 30 and income is less than 65000
df_query = df.query('Count > 30 and Rank < 20')
df_query.head()

In [ ]:
# Select rows where gender is Male
df_query = df.query("Gender == 'MALE'")
df_query.head()

# 9. df.sort_values()

In [ ]:
# Sort by age in ascending order
df_sorted = df.sort_values(by='Count')
df_sorted.head()

In [ ]:
# Sort by income in descending order
df_sorted = df.sort_values(by='Rank', ascending=False)
df_sorted.head()

In [ ]:
# Sort by multiple columns
df_sorted = df.sort_values(by=['Count', 'Rank'])
df_sorted.head()

# 10. df.sample()

In [ ]:
# Sample 2 rows without replacement
df_sample = df.sample(n=2, replace=False, random_state=1)
df_sample

In [ ]:
# Sample 3 rows with replacement
df_sample = df.sample(n=3, replace=True, random_state=1)
df_sample

In [ ]:
# Sample 2 rows without replacement with specific column to be chosen
df_sample = df.sample(n=2, replace=False, random_state=1, axis=1)
df_sample

# 11. df.isnull()

In [ ]:
df.isnull()

# 12. df.fillna()

In [ ]:
# fill missing values with 0
df.fillna(0)

# forward-fill missing values (propagates last valid observation forward to next)
df.fillna(method='ffill')

# backward-fill missing values (propagates next valid observation backward to last)
df.fillna(method='bfill')

# fill missing values using interpolation
df.interpolate()

In [ ]:
# fill missing values in place
df.fillna(0, inplace=True)

# 13. df.dropna()

In [ ]:
df = df.dropna()

In [ ]:
df = df.dropna(axis=1)

In [ ]:
df = df.dropna(thresh=2)

# 14. df.drop()

In [ ]:
df_drop = df.drop(0)

In [ ]:
df_drop = df.drop([0,1])

In [ ]:
df_drop = df.drop(['Count', 'Rank'], axis=1)

# 15. pd.pivot_table()

In [ ]:
pivot_table = pd.pivot_table(df, index='Ethnicity', values='Count', aggfunc='sum')
pivot_table.head()

In [ ]:
pivot_table = pd.pivot_table(df, index=['Ethnicity','Gender'], values= 'Count' , aggfunc=['sum','count'])
pivot_table.head(20)

# 16. df.groupby()

In [ ]:
grouped = df.groupby('Gender')
# Print the mean of each group
print(grouped.mean())

In [ ]:
grouped = df.groupby(['Gender', 'Ethnicity'])

# Print the sum of each group
print(grouped.sum())

# 17. df.transpose()

In [ ]:
# Transpose the DataFrame
df_transposed = df.transpose()

# Print the transposed DataFrame
df_transposed.head()

In [ ]:
df_transposed = df.T
df_transposed.head()

# 18. df.merge()

In [ ]:
# Create the first DataFrame
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                   'value': [1, 2, 3, 4]})

# Create the second DataFrame
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                   'value': [5, 6, 7, 8]})

# Merge the two DataFrames on the 'key' column
merged_df = df1.merge(df2, on='key')

# Print the merged DataFrame
print(merged_df)

In [ ]:
merged_df = df1.merge(df2, on=['key1','key2'])

In [ ]:
merged_df = df1.merge(df2, left_on='key1', right_on='key3')

# 19. df.rename()

In [ ]:
# Rename column 'Count' to 'count'
df_rename = df.rename(columns={'Count': 'count'})
df_rename.head()

In [ ]:
df_rename = df.rename(columns={'Count': 'count', 'Rank':'rank'})
df_rename.head()

In [ ]:
df_rename = df.rename(index={0:'first',1:'second',2:'third'})
df_rename.head()

# Popular Baby Name Project is Completed. !!!

# THANK YOU !!